<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mobeacon.demo" >

    <uses-sdk android:minSdkVersion="18" android:targetSdkVersion="22"/>

    <!-- App uses bluetooth/bluetooth low energy features to find BLE beacons nearby -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <!-- bluetooth usage permissions-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <!-- App uses location features to identify current location and find places of interest nearby -->
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <!-- location usage permissions-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <!-- internet usage permission to talk with backend to get configuration and places of interest, upload stats etc. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- vibration usage permission to signal about notification -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="io.mobeacon.sdk.services.BeaconDiscoveryService"/>

    </application>

</manifest>
